

@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');


.Tip-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    font-family: var(--primary-font), serif;
    background-color: var(--color-warning);
    color: var(--color-text);
    border-bottom: 5px solid var(--color-warning2);
    padding: var(--spacing-sm);
    width: 35rem;
}

.Tip-container--success {
    background-color: var(--color-success);
    border-bottom: 5px solid var(--color-success2);
}

.Tip-header{
    font-size: var(--subtitle1-size);
    line-height: var(--subtitle1-line-height);
    letter-spacing: var(--subtitle1-spacing);
    flex: 1;
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
    flex-direction: row;
}

.Tip-header > h2 {
    margin: 0;
}

.Tip-text{
    font-size: var(--body1-size);
    line-height: var(--body1-line-height);
    letter-spacing: var(--body1-spacing);
}

.Tip-text > p{
    margin: 0;
}