.form-contain {
    width: 300px;
    display: flex;
    flex-direction: column;
}

.input_password {
    display: flex;
    flex-direction: row;
    border-radius: var(--radius-md);
    border: 2px solid var(--color-border);
    outline: none;
}

label {
    font-family: var(--primary-font), serif;
    margin-bottom: var(--spacing-xs);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input {
    font-family: var(--primary-font), serif;

    width: 100%;
    height: 30px;
    font-size: var(--font-size-base);
    transition: border-color 0.15s ease;
    padding-left: var(--spacing-md);
    background-color: var(--color-transparent);
    margin: 0  var(--spacing-xs);
    border: none;
}

.input:focus {
    outline: none;
    border-color: var(--color-primary);
}

.button_hide {
    display: flex;
    align-items: center;
    background-color: unset;
    border: unset;
}

.input--error {
    border-color: var(--color-danger);
}
.error-message {
    color: var(--color-danger);
    margin-top: var(--spacing-xs);
    font-size: var(--font-size-base);
    font-family: var(--primary-font), serif;
}

.label--error {
    color: var(--color-danger);
}

.input--small  {
    font-size: var(--font-size-small);
    padding: var(--spacing-sm);
}

.input--large  {
    font-size: var(--font-size-lg);
}

