.button{
    font-family: "Pixelify Sans", serif;
    line-height: 150%;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    width: 200px;
    height: 36px;
    border-radius: 14px;
    font-size: 15px;
    font-weight: bold;
    background-color: #54CDF2;
    color: #282828;
    border: 2px solid #282828;
}

.button--primary{
    background-color: #54CDF2;
    color: #282828;
    border: 2px solid #282828;
}

.button--secondary{
    background-color: #A4EAFF;
    color: #282828;
    border: 2px solid #282828;
}

.button--danger{
    background-color: #F04245;
    color: #282828;
    border: 2px solid #282828;
}